@font-face {
  font-family: 'VT323';
  src: url('fonts\VT-323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'VT323', serif;
  color: white;
  font-size: 2em;
}
h1 {
  text-align: center;
  font-size: 2.75em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em;
}
#board {
  position: relative;
  margin: auto;
  width: 75%;
  z-index: 10;
}
#star-field {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}
#star-field .star {
  width: 6px;
  height: 6px;
  position: absolute;
  background: #fff;
  border-radius: 0%;
}
#star-field .star.far {
  width: 5px;
  height: 5px;
}
#star-field .star.near {
  width: 8px;
  height: 8px;
}
#star-field .star.white {
  background: #fff;
  box-shadow: 0 0 15px #fff;
}
#star-field .star.yellow {
  background: #BFBB40;
  box-shadow: 0 0 15px #BFBB40;
}
#star-field .star.blue {
  background: #6FC5F1;
  box-shadow: 0 0 15px #4444ff;
}
#star-field .star.red {
  background: #DA75FF;
  box-shadow: 0 0 15px #ff4444;
}
/* TABLE  */
.users {
  table-layout: fixed;
  width: 100%;
  white-space: wrap;
}
/* Column widths are based on these cells */
.row-rank {
  width: 10%;
}
.row-username {
  width: 40%;
}
.row-ntests {
  width: 30%;
}
.row-time {
  width: 20%;
}
.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.users th {
  text-transform: uppercase;
  color: white;
}
.users td,
.users th {
  text-align: left;
  padding: 5px 10px;
}
.users tr:nth-child(even) {
  background: black;
}
.users tr:nth-child(1) {
  color: yellow;
}
